.topBar{
    font-family: 'Graphique';
    display: flex;
   color: rgb(218, 90, 11);
   text-decoration: none;
   font-size: 2rem;
   margin-top: -1em;
   letter-spacing: .1ch;
   
}


.sunnySideName{
    margin-bottom: -20vw;
    margin-top: -1vw;
}



.sunnySideGif{
    align-content: center;
    margin-top: -3vw;
    width: clamp(20em,80vw,100%);
    box-sizing: border-box;
    object-fit: contain;
    position: relative;
    height: auto;
}
.sunnySideGifMobile{
    align-self: center;
    margin-top: 1vw;
    width: clamp(20em,50vw,100%);
    box-sizing: border-box;
    object-fit: contain;
    height: auto;
}
.ImageTagline{
    width: 100%;
    position: absolute;
    animation: wave-warp 2s ease-in-out infinite;
}


.ImageTagline img{
    background-image: url('../../public/HappyEggs.png');
    object-fit: cover;
    width: 200%;
}

.ImageTaglineContainer{

}
@keyframes wave-warp{

    0%{
        transform: translateX(0) translateY(0);
        transform: skewX(-20deg);
      }
        50%
        {
            transform: translateX(-2px) translateY(-2px);

        }

        75%{
            transform: translateX(-3px) translateY(-3px);

        }
        100%{
            transform: skew(0deg);
            transform: translateX(20) translateY(0);

        }
}

.LetterS{
        animation: wave-warp 3s ease-in-out infinite;
       
}

.sunnySideName{
    width: 100vw;
   text-align: center;
}



.ImageEggs:hover{

 

}
.ImageEggs{
    max-width: clamp( 80vw, 90% - 30vw, 50%);

    box-sizing: border-box;
    height: auto;
}
.ImageEggs{
   box-sizing: border-box;
   align-self: center;
   margin-bottom: 20vh;
   margin-top: clamp(-20rem, -22vh, -20vh);
}


.HeroContainer{

    padding: 2em;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    background-position: left;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 250%;
    font-family: 'Graphique';
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}



.menuText{
    color: black;
    font-size: 4rem;
    text-decoration: underline;
    text-decoration-color: orange;
}

.menuText:hover{
    text-underline-offset: 45deg;
}

.ImageContainer{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

@media (width < 700px) {
    .sunnySideGif{
        width: 100%;
    }
    .ImageEggs {
        max-width: 100%;

    }
}