.container{

    font-size: 1rem;
    
}
.container h1{
    font-size: 3rem;
}
.buttons{
    font-size: 2rem;
    border: none;
    background-color: transparent;
    padding:1em;
    font-family: 'Graphique';

}
.container p {
    width: 100%;
    font-size: 1rem;
    font-family: 'Nunito';
}
.buttons:hover{
    color: orangered
}
.title{
    font-family: 'Nunito';
    letter-spacing: .1rem;
    font-size: 3rem;
}
.ingredients  {
    width: 100%;
   font-weight: lighter;
    font-family: 'Nunito';
}
.title{
    font-family: 'Nunito';
}
.price{
    font-family: 'Nunito';
}